<div class="wrap">
	<div class="main">
		<div class="content">
          <% if ! @posts_all.blank? %>
            <% for post in @posts_all %>
                 <%=render(:partial=>'singlePost',:locals => {:p => post} )%>
            <% end %>
          <% else %>
               <%='No post Found.'%>
          <% end %>
			 		<div class="page_links">
						<div class="next_button">
							 <a href="#">Next</a>
						</div>
							<div class="page_numbers">
							    <ul>
									<li><a href="#">1</a>
									<li class="active"><a href="#">2</a>
									<li><a href="#">3</a>
									<li><a href="#">4</a>
									<li><a href="#">5</a>
									<li><a href="#">6</a>
									<li><a href="#">... Next</a>
								</ul>
							</div>	
						<div class="clear"></div>
					<div class="page_bottom">
						<p>Back To : <a href="#">Top</a> |  <a href="#">Home</a></p>
					</div>
			</div>
</div>
<div class="sidebar">
	<%=render('blog_cat',:locals => {:category => @category})%>
	<%=render('popular_post',:locals =>{:popular_posts =>@popular_posts})%>
	<%=render('latest_comment')%>
	<%=render('latest_photo')%>
	<div class="clear"></div>
</div>
